<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> guide part one </title>
<script type="text/javascript" src="vue-2.6.10/vue.js"></script>
</head>
<body>
<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
<!-- 
 v-bind是VUE指令(directive)
-->
<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>
<!-- v-if  v-for -->
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
<!-- v-on事件处理 -->
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>


<!-- v-model 双向绑定 表单输入值后(修改变量)立即显示-->
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
 

<script type="text/javascript">
var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue!'
	  }
	})
	
var app2 = new Vue({
	  el: '#app-2',
	  data: {
	    message: 'You loaded this page on ' + new Date().toLocaleString()
	  }
	})
//放在data 中 
//可以打开浏览器console 修改变量值 app.message=1111，页面立即刷新
var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: true
  }
})
//修改变量值 app3.seen=false ,数据绑定到DOM
var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' }
    ]
  }
})
//app4.todos.push({ text: 'New item' })

//methods传方法
var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})

var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Hello Vue!'
  }
})
 
</script>

</body>
</html>